main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img_container {
    max-width: 900px;
    overflow: hidden;
}
img {
    width: 100%;
    object-fit: contain;
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
.checkbox {
  float: right;
}

/* Styling from: https://medium.com/@mignunez/html-css-javascript-how-to-show-hide-password-using-the-eye-icon-27f033bf84ad#:~:text=JavaScript%3A,them%20each%20in%20a%20variable.&text=Now%20add%20a%20click%20event,input%20field%20is%20currently%20displaying. */
.password-container{
  position: relative;
}
.fa-eye, .fa-eye-slash{
  position: absolute;
  top: 61%;
  right: 7%;
  cursor: pointer;
  color: lightgray;
}