.btn {
    background-color: #7768AE !important;
    border-color: #7768AE !important;
  }
  .like {
    color: gray;
  }

  .like:hover {
    color: red;
  } 
  
  .unlike {
    color:red;
  }

  .unlike:hover {
    color: gray;
  } 
  

  .post {
      display: block;
      position: relative;
      margin-bottom: 30px;
  }

  .post .post-author-ava {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      border-radius: 50%;
      overflow: hidden
  }

  .post .post-author-ava>img {
      display: block;
      width: 100%
  }

  .post .post-body {
      position: relative;
      padding: 24px;
      border: 1px solid #e1e7ec;
      border-radius: 7px;
      background-color: #fff
  }

  .post .post-body::after {
      border-width: 9px;
      border-color: transparent;
      border-right-color: #fff
  }

  .post .post-body::before {
      margin-top: -1px;
      border-width: 10px;
      border-color: transparent;
      border-right-color: #e1e7ec
  }

  .post .post-title {
      margin-bottom: 8px;
      color: #606975;
      font-size: 14px;
      font-weight: 500
  }

  .post .post-text {
      margin-bottom: 12px
  }

  .post .post-footer {
      display: table;
      width: 100%
  }

  .post .post-footer>.column {
      display: table-cell;
      vertical-align: middle
  }

  .post .post-footer>.column:last-child {
      text-align: right
  }

  .post .post-meta {
      color: #9da9b9;
      font-size: 13px
  }

  .post .reply-link {
      transition: color .3s;
      color: #606975;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .07em;
      text-transform: uppercase;
      text-decoration: none
  }

  .post .reply-link>i {
      display: inline-block;
      margin-top: -3px;
      margin-right: 4px;
      vertical-align: middle
  }

  .post .reply-link:hover {
      color: #0da9ef
  }

  .post.post-reply {
      margin-top: 30px;
      margin-bottom: 0
  }

  @media (max-width: 576px) {
      .post {
          padding-left: 0
      }
      .post .post-author-ava {
          display: none
      }
      .post .post-body {
          padding: 15px
      }
      .post .post-body::before,
      .post .post-body::after {
          display: none
      }
  }